    <div class="mb-5 container-fluid fw-bolder">
        <hr>
        <p>&copy; CloudStudying | <a href="#">Privacy</a> | <a href="#">Terms</a></p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</div>
</body>
</html>