 <div class="mb-5 container-fluid fw-bolder" style="display: flex; justify-content: center; align-items: center;">
        <p>&copy; risker all right reserved | <a href="https://github.com/qnffnrl">Github</a> | <a href="#">Terms</a></p>
    </div>
</div>
</body>
</html>