<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Springboot 게시판</title>
    <link rel="icon" href="../../static/img/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <style>
        #mainTitle {
            text-align: center;
            font-family : 'Lobster';
            color: darkgreen;
        }
        #mainTitleText{
            text-decoration: none;
            color: green;
            font-size: 70px;
        }
        #mainTitleText:hover {
            color: red;
        }
        #page {
            width: 100%;
            margin: 0 auto;
            height: 100%;
        }
        #btn-home {
            border-radius: 8px;
            border: 1px solid black;
            height: 85%;
            margin-top: 3px;
            margin-left: 5px;
        }
        #btn-home:hover {
            color: white;
            background-color: green;
        }
        table{
            table-layout:fixed;
            height: 450px;
            word-break:break-all;
        }
        #contentView-content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        #contentView-btns {
            width : 100%;
            display: flex;
            justify-content: flex-end;
        }
        #contentView-btns-child {
            width: 20%;
            display: flex;
            justify-content: space-between;
        }
        #contentView-btns > #contentView-btns-child > button {
            margin: 5px 5px;
        }
        .updateForm-btns {
            width: 30%;
            margin: 5px 5px;
        }
    </style>
</head>
<body>
<div id="page">

<!-- 페이지 로고 Banner -->
    <div class="w-100  d-flex justify-content-center">
        <div id="mainTitle" class="w-50">
            <h1><em><span><a id="mainTitleText" href="/board/main">My First Springboot Board</a></span></em></h1>
            <hr>
            <h2><u>By risker</u></h2>
        </div>
    </div>
<!--  <<  -->
    <nav class="navbar navbar-expand-lg bg-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <!-- 로그인됬을 시 -->
            <div class="text-right">
                {{#user}}
                    <span class="mx-3">{{user}}님 안녕하세요!</span>
                    <a href="/auth/modify" class="btn btn-outline-dark">정보수정</a>
                    <a href="/auth/logout" class="btn btn-outline-dark">로그아웃</a>
                {{/user}}
            </div>
            <!-- << -->

            <!-- 로그인 안했을 시 -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {{^user}}
                        <button onclick="location.href='/login'" class="text-white bg-secondary btn bi bi-person">로그인</button> &nbsp;
                        <button onclick="location.href='/auth/join'" class="text-white bg-secondary btn bi bi-person">회원가입</button>
                    {{/user}}
                    <li class="nav-item">
                        <a id="btn-home" class="nav-link active" aria-current="page" href="/board/main"><u>Home</u></a>
                    </li>
                </ul>
                <!-- << -->

                <!-- 검색 폼 -->
                <form class="d-flex" role="search" action="/board/search" method="get">
                    <input name="keyword" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <!-- << -->

            </div>

        </div>

    </nav>
    <div>
        {{#error}}
            <p id="valid" class="alert alert-danger">{{exception}}</p>
        {{/error}}
    </div>
