<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <br><br>
    번호 : {{number}}<br>
    작성자 : {{board.writer}}<br>
    제목 : {{board.title}}<br>
    내용 : {{board.content}}<br>
    조회수 : {{board.view}}<br>

    <button onclick="location.href='/board/updateForm/{{number}}'">수정</button>
</body>
</html>