{{>layouts/head}}

    <br><br>
    번호 : {{number}}<br>
    작성자 : {{board.writer}}<br>
    제목 : {{board.title}}<br>
    내용 : {{board.content}}<br>
    조회수 : {{board.view}}<br>


    <form>
        <input type="hidden" id="number" value="{{number}}">
    </form>

    <button onclick="location.href='/board/updateForm/{{number}}'">수정</button>
    <button id="deleteBtn" onclick="location.href='/board/delete/{{number}}'">글 삭제</button><br><br>

    <button onclick="location.href='/board/main'">돌아가기</button>

{{>layouts/footer}}